

<div id="growl">
    <% if flash[:alert] %>
        <%= js add_gritter(flash[:alert], title: "Time Tracker", sticky: false) %>
    <% elsif flash[:error] %>
        <%= js add_gritter(flash[:error], title: "Time Tracker", sticky: false) %>
    <% else %>
        <%= js add_gritter(flash[:notice], title: "Time Tracker", sticky: false) %>
    <% end %>

</div>