<div class='container'>
	<div class='row'>

	
		<div class='pending-homepage employee-blocks'>
			<h3>Request Overtime</h3>

			<%= link_to "Request Overtime Approval", new_post_path, class: 'btn btn-primary btn-block btn-lg' %>
		</div>
	</div>
</div>