

<div class="container">


<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Date
			</th>
			<th class='hidden-xs'>
				Employee
			</th>
			<th>
				Rationale
			</th>
			
		</tr>
	</thead>
    <tbody>
        <%= render @posts %>
          
       
    </tbody>

</table>



</div>